.conteudo{
    padding: 0.8em;
}

.conteudo__bloco {
    h2{
        text-align: center;
        text-transform: uppercase;
        margin: 1em 0;
        padding: 0.3em 0;
        border-bottom: 0.15em solid $cor-auxiliar;

        @media (min-width: 900px){
            margin-top: 2.3em;
        }
    }
    p{
        line-height: 1.6;
    }
}

.imagens{
    @media (min-width: 900px){
        display: flex;

        figure{
            flex-basis: 50%;
            flex-grow: 0;
        }
        figure:first-of-type{
            padding-right: 0.5em;
        }
        
    }
}
.imagem-conteudo{
    
  img{
    display: block;
    margin: 1em auto; 
  }
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 900px){
        flex-direction: row;
    }
}

.formulario__texto{
    border: 0;
    border-bottom: 0.03em solid #000;
    text-align: center;
    margin: 0.3em 0;
    font-size: 2em;
    width: 100%;
    outline: none;
    color: $cor-auxiliar;

    @media (min-width: 900px){
        text-align: left;
    }

    &::selection{
      color: #FFF;
      background-color: $cor-auxiliar;
    }
}

.formulario__botao{
    border: 0;
    background-color: $cor-auxiliar;
    color: #FFF;
    border-radius: 0.3em;
    padding: 1em;
    margin: 0.3em 0;
    width: 6em;

    &:hover{
        background-color: lighten($cor-auxiliar, 10%);
        cursor: pointer;
    }
    
    @media (min-width: 900px) {
        margin-left: 2em;
    }
}

.imagem-conteudo{

    figcaption{
        font-size: 0.8em;
    }
}

.links-saiba-mais{
    margin-left: 1.5em; 
    margin-bottom: 2.5em;

    li {
        padding: 1em;
    }
}

.tags{
    background: $cor-auxiliar;
    color: #FFF;
    padding: 0.4em;
    margin: 0.2em;
    border-radius: 0.5em;

    &:hover{
        background: lighten($cor-auxiliar, 10%);
    }
}